# 6.1 Sourcing Open Data

## GDELT Conflict Dataset 1.0 (2021)

#### -Errol Hinkamp

##### Table of Contents

1. Import libraries
2. Import data
3. Clean data
4. Basic descriptive analysis

# 1. Import libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# 2. Import data

In [2]:
# Import dataframe
path=r'C:\Users\Errol\Documents\Data Analyst Work\Achievement 6'
data = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'gdelt_conflict_1_0.csv'))

In [3]:
# Disable column limits
pd.options.display.max_columns = None

In [5]:
# Basic dataframe info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176432 entries, 0 to 176431
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Year                  176432 non-null  int64
 1   CountryCode           176432 non-null  object
 2   CountryName           176432 non-null  object
 3   SumEvents             176432 non-null  int64
 4   TotalEvents           176432 non-null  int64
 5   NormalizedEvents1000  176432 non-null  float64
 6   EventRootCode         176432 non-null  int64
 7   EventRootDescr        176432 non-null  object
 8   EventCode             176432 non-null  int64
 9   EventDescr            176432 non-null  object
 10  GoldsteinScale        176432 non-null  float64
 11  AvgNumMentions        176432 non-null  float64
 12  SumNumMentions        176432 non-null  int64
 13  AvgAvgTone            176432 non-null  float64
dtypes: float64(4), int64(6), object(4)
memory usage: 18.8+ MB

In [6]:
# Quick visual check
data.head(20)

,Year,CountryCode,CountryName,SumEvents,TotalEvents,NormalizedEvents1000,EventRootCode,EventRootDescr,EventCode,EventDescr,GoldsteinScale,AvgNumMentions,SumNumMentions,AvgAvgTone
0,1979,CH,China,350,33541,10.434990,19,FIGHT,193,Fight with small arms and light weapons,-10.0,3.988571,1396,1.906000
1,1979,HR,Croatia,14,714,19.607843,19,FIGHT,190,"Use conventional military force, not specified...",-10.0,2.642857,37,4.335594
2,1979,SU,Sudan,16,1354,11.816839,17,COERCE,173,"Arrest, detain, or charge with legal action",-5.0,6.000000,96,3.358047
3,1979,SY,Syria,71,3119,22.763706,19,FIGHT,193,Fight with small arms and light weapons,-10.0,3.647887,259,3.557653
4,1979,GM,Germany,33,6615,4.988662,17,COERCE,172,"Impose administrative sanctions, not specified...",-5.0,4.484848,148,4.841399
5,1979,UK,United Kingdom,67,15721,4.261815,18,ASSAULT,180,"Use unconventional violence, not specified below",-9.0,4.313433,289,4.057995
6,1979,UK,United Kingdom,7,15721,0.445264,17,COERCE,1711,Confiscate property,-9.2,3.857143,27,3.936435
7,1979,IS,Israel,6,17311,0.346600,19,FIGHT,191,"Impose blockade, restrict movement",-9.5,5.666667,34,3.751923
8,1979,AO,Angola,21,1530,13.725490,19,FIGHT,192,Occupy territory,-9.5,5.523810,116,2.859268
9,1979,RS,Russia,8,27338,0.292633,17,COERCE,1711,Confiscate property,-9.2,3.375000,27,4.230203
10,1979,CT,Central African Republic,2,445,4.494382,18,ASSAULT,186,Assassinate,-10.0,1.500000,3,4.391892
11,1979,UG,Uganda,4,4477,0.893455,20,USE UNCONVENTIONAL MASS VIOLENCE,202,Engage in mass killings,-10.0,4.250000,17,4.168229
12,1979,ZI,Zimbabwe,9,7255,1.240524,18,ASSAULT,182,"Physically assault, not specified below",-9.5,4.777778,43,1.781214
13,1979,EG,Egypt,22,11310,1.945181,19,FIGHT,193,Fight with small arms and light weapons,-10.0,4.772727,105,5.234635
14,1979,SW,Sweden,2,1466,1.364256,18,ASSAULT,180,"Use unconventional violence, not specified below",-9.0,8.500000,17,2.155172
15,1979,AL,Albania,5,1340,3.731343,17,COERCE,173,"Arrest, detain, or charge with legal action",-5.0,7.200000,36,3.792570
16,1979,PM,Panama,6,839,7.151371,18,ASSAULT,181,"Abduct, hijack, or take hostage",-9.0,1.833333,11,5.289293
17,1979,FR,France,3,7628,0.393288,18,ASSAULT,1821,Sexually assault,-9.0,3.666667,11,2.314815
18,1979,KN,"Korea, North",1,1917,0.521648,19,FIGHT,193,Fight with small arms and light weapons,-10.0,10.000000,10,2.362205
19,1979,MX,Mexico,1,2782,0.359454,18,ASSAULT,1821,Sexually assault,-9.0,9.000000,9,6.067678

# 3. Clean data

In [7]:
# Check for mixed data types
for col in data.columns.tolist():
  weird = (data[[col]].applymap(type) != data[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (data[weird]) > 0:
    print (col)

##### No mixed data columns

In [8]:
# Check for missing values
data.isnull().sum()

Year                    0
CountryCode             0
CountryName             0
SumEvents               0
TotalEvents             0
NormalizedEvents1000    0
EventRootCode           0
EventRootDescr          0
EventCode               0
EventDescr              0
GoldsteinScale          0
AvgNumMentions          0
SumNumMentions          0
AvgAvgTone              0
dtype: int64

##### No missing values

In [10]:
# Check for duplicates
data_dups = data[data.duplicated()]
data_dups

Empty DataFrame
Columns: [Year, CountryCode, CountryName, SumEvents, TotalEvents, NormalizedEvents1000, EventRootCode, EventRootDescr, EventCode, EventDescr, GoldsteinScale, AvgNumMentions, SumNumMentions, AvgAvgTone]
Index: []

##### No duplicates

# 4. Basic descriptive analysis

In [11]:
# Get info on dataframe
data.describe()

,Year,SumEvents,TotalEvents,NormalizedEvents1000,EventRootCode,EventCode,GoldsteinScale,AvgNumMentions,SumNumMentions,AvgAvgTone
count,176432.000000,176432.000000,1.764320e+05,176432.000000,176432.000000,176432.000000,176432.000000,176432.000000,1.764320e+05,176432.000000
mean,2004.122070,475.137237,1.208470e+05,6.220068,17.944591,621.729533,-8.385991,6.857883,5.985704e+03,1.917248
std,11.607784,8511.682202,8.270661e+05,21.521620,0.903649,706.792802,1.961109,7.339110,1.413336e+05,3.948198
min,1979.000000,1.000000,1.000000e+00,0.000042,17.000000,170.000000,-10.000000,1.000000,1.000000e+00,-21.052632
25%,1996.000000,3.000000,4.481000e+03,0.336431,17.000000,180.000000,-10.000000,3.939394,1.600000e+01,1.018470
50%,2006.000000,13.000000,1.648300e+04,1.076684,18.000000,191.000000,-9.200000,5.250000,7.100000e+01,3.389922
75%,2014.000000,72.000000,5.699700e+04,4.092455,19.000000,1711.000000,-7.000000,7.996457,4.800000e+02,4.447779
max,2021.000000,893895.000000,2.377035e+07,1000.000000,20.000000,1833.000000,-5.000000,512.250000,1.683421e+07,20.000000

In [21]:
# Get medians of numerical columns
data.median()

Year                     2006.000000
SumEvents                  13.000000
TotalEvents             16483.000000
NormalizedEvents1000        1.076684
EventRootCode              18.000000
EventCode                 191.000000
GoldsteinScale             -9.200000
AvgNumMentions              5.250000
SumNumMentions             71.000000
AvgAvgTone                  3.389922
dtype: float64

In [22]:
# Get modes for all columns
data.mode()

,Year,CountryCode,CountryName,SumEvents,TotalEvents,NormalizedEvents1000,EventRootCode,EventRootDescr,EventCode,EventDescr,GoldsteinScale,AvgNumMentions,SumNumMentions,AvgAvgTone
0,2016,BM,United States,1,21821,20.833333,17,COERCE,190,"Use conventional military force, not specified...",-10.0,2.0,9,0.0